* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-main: #2C3440;
    --film-card-background: #1F2A40;
    --text-color-main: #E6E6E6;
    --navbar-color: #41658A;
    --side-color: #418060;
}

body {
    font-family: 'Work Sans', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--background-main);
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: var(--navbar-color);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1rem;
    text-align: center;
    z-index: 100;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.nav-list li {
    display: inline;
}

.nav-list a {
    text-decoration: none;
    color: var(--text-color-main);
    font-size: 1.25rem;
    font-weight: bold;
}

.nav-list a:hover {
    color: var(--side-color);
}

#app {
    margin: 1rem;
    padding: 1.25rem;
    width: 100%;
    max-width: 1200px;
    margin-top: 5rem;
}

.search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar {
    height: 30px;
    width: 200px;
    max-width: 400px;
    padding: 0.5rem;
    border: 2px solid var(--side-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--text-color-main);
    outline: none;
}

.film-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    padding: 1.5rem;
}

.film-item {
    background-color: var(--film-card-background);
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.film-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.film-title {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color-main);
    margin-bottom: 0.75rem;
    margin-top: 0.25rem;
}

.release-year {
    font-size: 0.75rem;
    font-style: italic;
    font-weight: normal;
    opacity: 0.8;
    margin-left: 10px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.film-poster {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.fa-heart {
    position: absolute;
    top: 10px;
    right: 10px; 
    font-size: 1.5rem;
    opacity: 0;
    z-index: 10;
}

.image-wrapper:hover .fa-heart {
    opacity: 1;
}

.fa-heart.favorite {
    color: #d58d08;
    opacity: 1;
}

.film-rating {
    font-size: 1rem;
    color: var(--text-color-main);
    font-weight: bold;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.error-message {
    color: var(--text-color-main);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    padding: 0.75rem;
}

@media (max-width: 1024px) {
    .film-item {
        padding: 0.75rem;
    }

    .film-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .image-wrapper {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .film-item {
        padding: 0.5rem;
    }

    .film-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-wrapper {
        padding: 0 8px;
    }

    .film-poster {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .film-item {
        padding: 0.25rem;
    }

    .film-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .image-wrapper {
        padding: 0 8px;
    }

    .film-poster {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}